test_data/

*.xlsx
*.pptx
*.pyc
Thumbs.db
test.png
*.operations
*.config
*.ini
*.dat
*.log

# Distribution / packaging
test.py
dist
packaging.bat
upload.bat
*.egg-info

# Sublime
*.sublime-project
*.sublime-workspace